footer{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1rem;

}

.sectionFooter {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    border: 2px solid black;
    width: 900px;
    margin-bottom: 1rem;
}

footer div{
    overflow-y: hidden;
   }

footer h3{ color: gray;
    margin-top: 0px;
}

footer h5{
    color:grey;
    margin: 0px;
}

footer h4{
    color: grey;
    margin: 0px;
}

.f1{
    grid-column: span 4;
}

.f20{
    grid-column: 1 / 5;
    grid-row: 7;
}

footer select{
    border: 1px solid grey;
    background-color: black;
    height: 40px;
    width: 132px;
    color: grey;
    
}



.f1:hover{
    text-decoration: underline;
}

@media (max-width: 625px){
    footer{
        padding: 1rem;
    }
    .sectionFooter{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .f1{
        grid-column: span 2;
    }
    
    .f20{
        grid-column: 1 / 2;
        grid-row: 11;
    }
}