:root {
    --font-family: 'Roboto', sans-serif;
    --color-01: #f3f3f3;
    --color-02: #333;
    --color-03: #fff;
}

* {
    margin: 0%;
    padding: 0%;
}

.content-MainContent01 {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 15px 45px;
    border-bottom: solid 8px #333;

}

.items-MainContent01 {
    padding: 10px;
    font-family: var(--font-family);
    padding-top: 80px;

}

.text01-MainContent01 {
    font-size: 55px;
    color: var(--color-03);
    margin: 10px;
}

.text02-MainContent01 {
    font-size: 28px;
    color: var(--color-03);
    margin: 10px;
}

.text03-MainContent01 {
    font-size: 55px;
    color: var(--color-03);
    margin: 10px;
    font-family: var(--font-family);
    padding-top: 60px;
}

.text04-MainContent01 {
    font-size: 26px;
    color: var(--color-03);
    margin: 10px;
    font-family: var(--font-family);
}

.img-MainContent01 {
    width: 600px;
    height: 450px;
}

.img02-MainContent01 {
    width: 600px;
    height: 450px;
}

.items02-MainContent01 {
    position: relative;
    z-index: 2;
}

.items03-MainContent01 {
    position: relative;
    z-index: 2;
}

.items04-MainContent01 {
    padding-top: 80px;
}

.video01-MainContent01 {
    width: 435px;
    position: absolute;
    z-index: -1;
    right: 85px;
    top: 95px;

}

.video02-MainContent01 {
    width: 365px;
    position: absolute;
    z-index: -1;
    bottom: 200px;
    left: 115px;
}

/* @media (450px) */

@media screen and (max-width: 450px) {

    * {
        margin: 0%;
        padding: 0%;
    }

    .content-MainContent01 {
        flex-wrap: wrap;
    }

    #block01-MainContent01 {
        padding: 0%;
    }

    #block02-MainContent01 {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: 230px;
    }

    #block01-MainContent01 {
        height: 170px;
    }

    .text01-MainContent01 {
        font-size: 28px;
        text-align: center;
    }

    .text02-MainContent01 {
        font-size: 18px;
        text-align: center;
    }

    .text03-MainContent01 {
        font-size: 28px;
        text-align: center;
    }

    .text04-MainContent01 {
        font-size: 18px;
        text-align: center;
    }

    .img-MainContent01 {
        width: 400px;
        height: 300px;
    }

    .img02-MainContent01 {
        width: 400px;
        height: 300px;
    }

    .video01-MainContent01 {
        width: 291px;
        height: 300px;
        top: -5px;
        left: 53px;

    }

    .video02-MainContent01 {
        width: 244px;
        height: 250px;
        top: -25px;
        bottom: px;
        left: 77px;


    }
}