

:root {
    --font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    --color-01: #f3f3f3;
    --color-02: #333;
    --color-03: #fff;
}

* {
    margin: 0%;
    padding: 0%;
}

.content-MainContent01 {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 15px 45px;
    border-bottom: solid 8px #333;

}


.items-MainContent01 {
    padding: 10px;
    font-family: var(--font-family);
    padding-top: 80px;

}

.text01-MainContent01 {
    font-size: 55px;
    color: var(--color-03);
    margin: 10px;
}

.text02-MainContent01 {
    font-size: 28px;
    color: var(--color-03);
    margin: 10px;
}

.text03-MainContent01 {
    font-size: 55px;
    color: var(--color-03);
    margin: 10px;
    font-family: var(--font-family);
    padding-top: 60px;
}

.text04-MainContent01 {
    font-size: 26px;
    color: var(--color-03);
    margin: 10px;
    font-family: var(--font-family);
}

.img-MainContent01 {
    width: 600px;
    height: 450px;
}

.img03-MainContent01 {
    width: 600px;
    height: 450px;
}

.items02-MainContent01 {
    position: relative;
    z-index: 2;
}

.items03-MainContent01 {
    position: relative;
    z-index: 2;
}

.items04-MainContent01 {
    padding-top: 80px;
}

.video01-MainContent01 {
    width: 435px;
    position: absolute;
    z-index: -1;
    right: 85px;
    top: 95px;

}

.video02-MainContent01 {
    width: 390px;
    position: absolute;
    z-index:-1;
    bottom: 213px;
    left: 122px;
}

